# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

# MacOS Finder Metadata
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
